@model AnimalByType

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "AllAnimals";
}
<h2>All Animals are Shown Here</h2>

<button type="submit" class="btn btn-default">@Html.ActionLink("Create new Animal", "CreateAnimal", "Animal")</button>

@if (Model.Animals.Count() == 0)
{
    <div class="text-center alert-info">
        <h1>
            There are no animals available.
        </h1>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Type</th>
        <th>Aviary</th>
        <th>male & Female</th>
        <th>Growth</th>
        <th>Weight</th>
        <th>Birthday</th>
        <th>Employee Name</th>
        <th>Zoo Name</th>
        @if (SignInManager.IsSignedIn(User))
        {
            <th>Edit</th>
            <th>Delete</th>
            <th>Show Details</th>
        }

        </thead>
        <tbody>
            @foreach (Animal animal in Model.Animals)
            {
                <tr>
                    <td>@animal.Name</td>
                    <td>@animal.Age</td>
                    <td>@animal.AnimalType.TypeName</td>
                    <td>@animal.Aviary.AviaryName</td>
                    <td>@animal.MaleFemale</td>
                    <td>@animal.Growth</td>
                    <td>@animal.Weight</td>
                    <td>@animal.Birthday.ToString("yyyy-MM-dd")</td>
                    <td>@animal.Employee.FullName</td>
                    @if (animal.Employee.Id == 0)
                    {
                        <td>Emp was deleted</td>
                    }
                    <td>@animal.Zoo.Name</td>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <td>@Html.ActionLink("Edit", "EditAnimal", "Animal", new { @id = animal.Id })</td>
                        <td>@Html.ActionLink("Delete", "DeleteAnimal", "Animal", new { @id = animal.Id })</td>
                        <td>@Html.ActionLink("Show Details", "AnimalDetails", "Animal", new { @id = animal.Id })</td>

                    }
                </tr>
            }
        </tbody>
    </table>
}