@model Zoo
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "CreateZoo";
}

@if (SignInManager.IsSignedIn(User))
{
    <h2>Create New Zoo</h2>


    <button type="submit" class="btn btn-default" style="margin-bottom: 20px;">
        @Html.ActionLink("Show All Zoos", "All", "Zoo")
    </button>

    @using (Html.BeginForm("ZooCreated", "Zoo", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(n => n.Name)
            @Html.TextBoxFor(n => n.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(n => n.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(n => n.Address)
            @Html.TextBoxFor(e => e.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(n => n.Address, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(n => n.FoundingYear)
            @Html.TextBoxFor(a => a.FoundingYear, new { @class = "form-control", @type = "date" })
        </div>

       


        <button type="submit" class="btn btn-success">Create Zoo</button>
    }

}
else
{
    <div class="text-center">
        <h1 class="text-danger">Please, Sign in to create new Zoo</h1>
    </div>
    <button type="submit" class="btn btn-default">@Html.ActionLink("Log in", "Login", "Account")</button>
}


