@model ZooDetailsViewModel
@{
    ViewData["Title"] = "ZooDetails";
}

@if (Model.Id == 0)
{
    <div class="text-center alert-info">
        <h1>There are no zoos available.</h1>
    </div>
}
else
{
    <div class="text-center text-success">
        <h1>Detail information about <b>@Model.ZooName</b></h1>
    </div>
    <table class="table table-hover" style="margin-top: 40px; font-size: 20px;">
        <thead>
            <tr>
                <th scope="col">Definition</th>
                <th scope="col">Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>@Model.ZooName</td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>@Model.ZooAddress</td>
            </tr>
            <tr>
                <th scope="row">Founding year</th>
                <td>@Model.ZooFoundingYear</td>
            </tr>
            <tr>
                <th scope="row">Number of animals</th>
                <td>@Model.Animals.Count()</td>
            </tr>
            <tr>
                <th scope="row">Number of employees</th>
                <td>@Model.Employees.Count()</td>
            </tr>
        </tbody>
    </table>
}
    